<% if current_user.admin? %>
  <div class="page-header">
    <h1>Welcome Teach!</br>
      <small>Drop some knowledge on those kids</small></h1>
  </div>
    <%= form_for @lesson, :html => {:class => "form-horizontal center"} do |f| %>
    <div class="form-group">
      <div class="col-md-12">
        <%= f.label :date, class: "control-label" %>
      </div>
      <div class="col-md-2">
        <%= f.text_field :date, class: "form-control" %>
      </div>
    </div>
   
    <div class="form-group">
      <div class="col-md-12">
        <%= f.label :exercise, class: "control-label" %>
      </div>
      <div class="col-md-6">
        <%= f.text_area :exercise, class: "form-control", rows: "5"%>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-12">
        <%= f.label :reciever_id, class: "control-lavel" %>
      </div>
      <div class="col-md-2">
        <%= select("lesson", "reciever_id", User.all.collect {|user| [ user.email, user.id ] }, { include_blank: true }) %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-12">
        <%= f.label :chart, "PDF only!", class: "control-label" %>
      </div>
      <div class="col-md-2">
        <%= f.file_field :chart, class: "form-control" %>
      </div>
    </div>

      <%= f.submit "Create Lesson", class: "btn btn-default btn-primary" %>
    <% end %>
<% end %>