<body class="unique">
  <div class="container">
      <div class="row">
	      <div class="col-md-6">
	        <div class="well">
	          <h1>Try the Test Accounts or Make Your Own Student!</h1>
	              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
					  <div class="row">
						  <div class="form-group col-md-7">
						    <%= f.label :email %><br />
						    <%= f.email_field :email, autofocus: true, class: "form-control" %>
						  </div>
					  </div>

					  <div class="row">
						  <div class="form-group col-md-7">
						    <%= f.label :password %><br />
						    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
						  </div>
					  </div>

					  <% if devise_mapping.rememberable? -%>
					    <div class="form-group">
					      <%= f.check_box :remember_me %>
					      <%= f.label :remember_me %>
					    </div>
					  <% end -%>

					  <button class="btn btn-default" type="submit">
					    <% f.submit%> Log in 
					  </button>
					<% end %>
	          <h2><%= render "devise/shared/links" %></h2>
	        </div>
	      </div>
	      

	      <div class="col-md-6">
	      	<div class="well">
	      		<h1>Test Accounts</h1>
	      		<h3>Teacher</h3>
	      			<p>Email: Tom@last.com Password: Password320</p>
	      		<h3>Student</h3>
	      			<p>Email: tom@testing.com Password: Password320</p>
	      	</div>
	      </div>
			</div>
	</div>
</body>