<!DOCTYPE html>
<html>
<head>
  <title>Lesson4</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" <%= link_to "Guitar Lessons", root_path %>></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <div class="navbar-form navbar-right">
            <% if user_signed_in? %>
              <div class="btn btn-success"><%= current_user.email %></div>
            <% else %>
              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="form-group">
                <%= f.label :email, class: "label label-default" %>
      					<%= f.email_field :email, autofocus: true %>
              </div>
              <div class="form-group">
                <%= f.label :password, class: "label label-default" %>
      					<%= f.password_field :password, autocomplete: "off" %>
              </div>
              <%= f.submit "Log in", type:"submit", class: "btn btn-success" %>
            	<% end %>
            <% end %>
          	<div class="form-group"><%= link_to('Logout', destroy_user_session_path, :method => :delete, class: "btn btn-default btn-primary") %></div>
          </div>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>



<%= yield %>


</body>
</html>
