<!DOCTYPE html>
<html>
<head>
  <title>Guitar Lessons</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="<%= root_path%>">Guitar Lessons</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li>
            <% if current_user && current_user.admin? %>
              <a href="<%=lessons_teacher_cal_path%>">Calendar
            <%else%>
              <a href="<%=lessons_student_cal_path%>">Calendar<%end%><span class="sr-only">(current)</span></a>
          </li>
          <li>
            <% if current_user &&! current_user.admin? %>
              <a href="<%= lessons_path%>">All Lesson</a>
            <%end%>
          </li>
          <li>
            <% if current_user && current_user.admin? %>
              <a href="<%= new_lesson_path%>">New Lesson</a>
            <%end%>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li><%= link_to current_user.email, edit_user_registration_path%></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete%></li>
          <%else%>
            <li><%= link_to "Login", new_user_session_path%></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete%></li>
          <%end%>
        </ul>
      </div>
    </div>
  </nav>



<%= yield %>


</body>
</html>
